{% extends 'base.html'%}
{% block title %}
    register
{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
                <div class="col-xs-6 col-md-4" >
                </div>
               <div class="col-xs-6 col-md-4 " >
                <div class="panel panel-default ">
                    <div class="panel-heading" >
                        欢迎登录
                    </div>
                    <div class="panel-body">
                         <form method="POST" action="{% url 'register' %}" >
                            {% csrf_token %}
                             <p>用户名：{{ form.username }}</p>
                            <p> 密码：&#160&#160&#160&#160{{ form.password}}</p>
                         <input type="submit" value="注册">
                         </form>
                         <input type="button" value="返回上页" onclick="goBack()">

                    </div>
                </div>
               </div>
        </div>
</div>


{% endblock %}